#place-input-container {

    input {
        width: -webkit-fill-available;
        height: 48px;
        background: #ffffff;
        border: 1px solid #414141;
        border-radius: 5px;
        padding-left: 10px;
        color: black !important;
    }

}