#disabled-field-container {
  .disabled-value-input {
    background-color: #f3f3f3;
    color: #111111;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    padding: 10px 16px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    height: 48px;
  }
}
